.header {
  display: flex;
  padding-top: 20px;
  padding-left: 345px;
  padding-right: 345px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__menu {
  padding-left: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__button {
}

.header__menu-list {
  display: flex;
  gap: 40px;
}
